/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
			bindings = <
&kp ESC   &kp C_VOL_UP &kp C_VOL_DOWN &kp C_PREV    &kp C_PLAY  &kp C_NEXT                             &kp PSCRN &kp DOWN &kp UP    &kp LEFT &kp RIGHT &tog 2 
&kp TAB   &kp Q        &kp W          &kp E         &kp R       &kp T                                  &kp Y     &kp U    &kp I     &kp O    &kp P     &kp MINUS
&kp BSPC  &kp A        &kp S          &kp D         &kp F       &kp G                                  &kp H     &kp J    &kp K     &kp L    &kp SEMI  &kp SQT
&kp LSHFT &kp Z        &kp X          &kp C         &kp V       &kp B       &kp F19       &kp B        &kp N     &kp M    &kp COMMA &kp DOT  &kp FSLH  &kp RSHFT
                                      &kp LALT      &kp LGUI    &mo LCTRL   &lt 1 RET     &lt 1 SPACE  &mo RCTRL &kp RGUI &kp RALT
			>;
		};

		raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
// |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
//                     |      |      |      |        |  |       |      |       |       |
			bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3  &kp N4   &kp N5                                      &kp N6   &kp N7    &kp N8    &kp N9    &kp N0        &trans
&kp TAB   &kp Q  &kp W  &kp E   &kp R    &kp T                                       &kp Y    &kp U     &kp I     &kp O     &kp P         &trans
&kp LSHFT &kp F2 &kp F3 &kp F4  &kp F5   &kp F6                                      &kp H    &kp J     &kp K     &kp L     &kp SEMICOLON &kp ENTER
&kp LCTRL &kp F8 &kp F9 &kp F10 &kp F11  &kp F12         &kp GRAVE       &trans      &kp N    &kp MINUS &kp EQUAL &kp COMMA &kp DOT       &kp RSHFT
                        &mo 3  &kp LGUI &kp LALT       &kp SPACE       &trans      &trans   &trans    &trans
			>;
		};

		extra_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
// |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
//                     |      |      |      |        |  |       |      |       |       |
			bindings = <
&kp F1   &kp F2 &kp F3   &kp F4  &kp F5   &kp F6                                   &trans   &trans    &trans    &trans    &trans        &trans
&kp F7   &kp F8 &kp F9   &kp F10 &kp F11  &kp F12                                  &trans   &trans    &trans    &trans    &trans        &trans
&trans   &kp F13 &kp F14 &kp F15 &kp F16  &kp F17                                  &trans   &trans    &trans    &trans    &trans        &trans
&trans   &kp F18 &kp F19 &kp F20 &kp F21  &kp F22     &kp F23         &trans       &trans   &trans    &trans    &trans    &trans        &trans 
                         &trans  &trans   &trans      &trans          &trans       &trans   &trans    &trans
			>;
		};
	};
};
